.container-center {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

label.label-center {
    text-align: center;
}

input.input-center {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button.button-center {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.white-box {
    background-color: white; /* Set the background color to white */
    border-radius: 25px;
    opacity: 0.8;
    width: 30%; /* Set the width of the container (you can adjust this as needed) */
    margin: 20px auto; /* Center the container horizontally and add vertical margin */
    padding: 20px; /* Add some padding inside the container */
    border: 1px solid #ccc, thick; /* Optional: Add a light border around the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow to the container */
}

#rcorners2 {
    border-radius: 25px;
    border: 6px solid #73AD21;
    padding: 20px;
    width: 1970px; /* Adjusted from 'contain' */
    height: 810px; /* Adjusted from 'contain' */
    margin-top:5px;
    margin-bottom:1px;
    margin-left:5px;
}

#rcorners3 {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 750px;
    display: inline-block; /* Added this property */
}

#stylebox {
    border-radius: 15px / 50px;
    background: #73AD21;
    padding: 20px;
    width: 1700px;
    height: 740px;
    display: inline-block; /* Added this property */
    margin-left: 5px;
}
/*#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: contain;
    height: contain;
}

#rcorners3 {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 750px;
    
}

#stylebox {
    border-radius: 15px / 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}*/